body {
  margin: 0;
  font-family: Arial;
  text-align: center;
  background: linear-gradient(135deg, #eef2ff, #f5f5f5);
}

/* 로그인 */
#login {
  margin-top: 50px;
}

input {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 15px;
  border: none;
  background: #4CAF50;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

/* 클릭 박스 */
#box {
  width: 200px;
  height: 200px;
  margin: 20px auto;
  background: #4CAF50;
  color: white;
  font-size: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 12px;
  cursor: pointer;

  transition: 0.1s;
}

#box:active {
  transform: scale(0.95);
}

/* 랭킹 */
#ranking {
  margin-top: 20px;
}
